<body bgcolor = "#B0C4DE">
<h1>Web Security Fundamentals Technical Project</h1>
</br>
<h2>Student Name: Venkata Surya Kiran Kumar Kasireddy</h2>

<h3>Student ID: 87600</h3>
</br>
<p style="font-size:150%"> In Web Security Fundamentals Course, I understood following concepts: </br>1) The key security requirements and protocols </br>2) Different types of threats, attacks, and vulnerabilities</br>3) Proven security principles</br> 4) Overview of security process</br>5) How security is handled in multiple layers of reference model</br>6) How to build a secure web application </p>
</body>
